<template>
  <header>
    <b-nav class="bg-black">
      <b-container fluid>
        <b-row>
          <b-col md="2" class="text-center">
            <img src="../assets/logo.png" alt="Logo" class="img-style" />
          </b-col>
          <b-col md="10">
            <div class="d-flex justify-content-center align-content-center">
              <span class="text-white f-size-2rem">Blog Management</span>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </b-nav>
  </header>
</template>