<template>
  <b-col md="2" class="sidebar p-0 bg-white">
    <div class="sidebar-menu">
      <div class="p-4 sidebar-menu-item">
        <i class="fa-solid fa-list-ul"></i>
        <b-link to="/blog" class="text-decoration-none text-black ms-4 alert-link">
          List
        </b-link>
      </div>
      <div class="p-4 sidebar-menu-item">
        <i class="fa-regular fa-square-plus"></i>
        <b-link to="/blog/new" class="text-decoration-none text-black ms-4 alert-link" >
          New
        </b-link>
      </div>
      <div class="p-4 sidebar-menu-item">
        <i class="fa-solid fa-magnifying-glass"></i>
        <b-link to="/blog/search" class="text-decoration-none text-black ms-4 alert-link">
          Search
        </b-link>
      </div>
    </div>
  </b-col>
</template>