<template>
  <b-col md="12" class="p-0 mb-2">
    <b-card class="mx-2">
      <template #header>
        <h4 class="mb-0">Search Blog</h4>
      </template>
      <div class="card-body p-0">
        <b-form class="m-2">
          <b-form-group label="Title">
            <b-form-input
              type="text"
              v-model="search_query"
              placeholder="Search"
            />
          </b-form-group>
          <div class="d-flex justify-content-center mt-3">
            <b-button type="button" @click="searchBlog">Search</b-button>
          </div>
        </b-form>
      </div>
    </b-card>
  </b-col>
</template>
  
<script>
export default {
  data() {
    return {
      search_query: "",
    };
  },
  methods: {
    /**
     * call SearchBlog at parent component and send search_query
     * */
    searchBlog() {
      this.$emit("searchBlog", this.search_query);
    },
  },
};
</script>
  