<template>
    <div class="col-md-12 p-0 my-2">
      <b-card>
        <b-card-header class="me-0">
          <slot></slot>
        </b-card-header>
        <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
          <b-form @submit.prevent="handleSubmit(onSubmit)">
            <b-card-body class="p-0">
              <div class="mx-3">
              <ValidationProvider name="Title" :rules="{ required: true, min:6}" v-slot="validationContext">
                <b-form-group label="Tiêu đề:">
                  <b-form-input v-model="blogs.title" :state="getValidationState(validationContext)"/>
                  <b-form-invalid-feedback>{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>
              <ValidationProvider name="Description" :rules="{ required: true}" v-slot="validationContext">
                <b-form-group label="Mô tả ngắn">
                  <b-form-textarea v-model="blogs.description" rows="5" :state="getValidationState(validationContext)">
                  </b-form-textarea>
                  <b-form-invalid-feedback>{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>
              <ValidationProvider name="Content" :rules="{ required: true}" v-slot="validationContext">
                <b-form-group label="Chi tiết:">
                  <b-form-textarea v-model="blogs.content" rows="8" :state="getValidationState(validationContext)">
                  </b-form-textarea>
                  <b-form-invalid-feedback>{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>
              <ValidationProvider name="Position" :rules="{ required: true}" v-slot="validationContext">
                <b-form-group label="Vị trí:" class="mt-2">
                    <b-form-checkbox inline v-for="address in positionList" :key="address.id" v-model="blogs.position" type="checkbox" :value="address.id" :state="getValidationState(validationContext)">
                      {{ address.name }}
                    </b-form-checkbox>
                    <b-form-invalid-feedback>{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>
              <ValidationProvider name="Public" :rules="{ required: true}" v-slot="validationContext">
                <b-form-group label="Public:" class="mt-2" >
                    <b-form-radio inline v-model="blogs.is_published" type="radio" id="inlineRadio1" value="1" :state="getValidationState(validationContext)">Yes</b-form-radio>
                    <b-form-radio inline v-model="blogs.is_published" type="radio" id="inlineRadio2" value="0" :state="getValidationState(validationContext)">No</b-form-radio>
                    <b-form-invalid-feedback>{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>
                <b-row class="mt-2">
                  <b-col >
                    <ValidationProvider name="Category" :rules="{ required: true}" v-slot="validationContext">
                      <b-form-group label="Loại:">
                        <b-form-select v-model="blogs.category" :state="getValidationState(validationContext)">
                          <b-form-select-option v-for="cate in categoryList" :key="cate.id" :value="cate.id" :state="getValidationState(validationContext)">
                            {{ cate.name }}
                          </b-form-select-option>
                        </b-form-select>
                        <b-form-invalid-feedback>{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                  <b-col >
                    <ValidationProvider name="Date Public" :rules="{ required: true}" v-slot="validationContext">
                        <b-form-group label="Date Public">
                          <b-form-datepicker v-model="blogs.date_public" :state="getValidationState(validationContext)"/>
                          <b-form-invalid-feedback>{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                        </b-form-group>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <div class="d-flex justify-content-center my-3">
                  <b-button variant="success" class="mr-3" type="submit">Submit</b-button>
                  <b-button variant="primary" class="ml-2" type="reset" @click="resetForm()">Clear</b-button>
                </div>
              </div>
            </b-card-body>

          </b-form>
        </ValidationObserver>
      </b-card>
    </div>
</template>


<script>
import categoryList from '../../convert/category';
import positionList from '../../convert/position';

export default {
  props: {
    blogs: {},
    isInsert: null, 
  },  
  data() {
    return {
      categoryList: categoryList,
      positionList: positionList,
    };
  },
  methods: {
    /**
     * call emit to insert or update
     */
    onSubmit() {
      if(this.isInsert){
        this.$emit("insert", this.blogs);
      }else{
        this.$emit("update", this.blogs);
      }
    },

    /**
     * check validate
     */
    getValidationState({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null;
    },

    resetForm() {
      this.blogs = {};

      this.$nextTick(() => {
        this.$refs.observer.reset();
      });
    },
  },
};
</script>