<template>
  <b-card class="card mx-2">
    <template #header>
      <h4 class="mb-0">List Blog</h4>
    </template>
    <b-card-body class="p-0">
      <b-table bordered :items="this.blogs" :fields="fields" class="text-center" show-empty>
        <template #cell(edit)="row">
          <b-button size="md" :to="{ path: '/blog/_id', query: { id: row.item.id } }" variant="outline-primary">
            Edit
          </b-button>
        </template>
        <template #cell(delete)="row">
          <b-button size="md" @click="deleteBlog(row.item.id)" variant="outline-danger">
            Delete
          </b-button>
        </template>
      </b-table>
    </b-card-body>
  </b-card>
</template>

<script>
import axiosClient from "../../axiosClient.js";
import categoryList from "../../convert/category.js";
import positionList from "../../convert/position";

export default {
  props: {
    blogs: {},
  },
  data() {
    return {
      fields: [
        { key: "id", label: "ID", class: "width-50" },
        { key: "title", label: "Tin" },
        {
          key: "category",
          label: "Loại",
          formatter: (value) => {
            return this.getCategory(value);
          },
        },
        {
          key: "is_published",
          label: "Trạng thái",
          formatter: (value) => {
            return value ? "Yes" : "No";
          },
        },
        {
          key: "position",
          label: "Vị trí",
          formatter: (value) => {
            return this.getPosition(value);
          },
        },
        { key: "date_public", label: "Ngày public" },
        { key: "edit", label: "Edit", class: "width-50" },
        { key: "delete", label: "Delete", class: "width-50" },
      ],
    }
  },
  methods: {
    /**
     * get name category
     * @param id
     * @returns string
     * */
    getCategory(id) {
      const name = categoryList.find((data) => data.id == id);
      return name ? name.name : "";
    },

    /**
     * get name position
     * @param arrayId
     * @returns string
     */
    getPosition(arrayId) {
      const positions = positionList
        .filter((place) => arrayId.includes(place.id))
        .map((place) => place.name);
      return positions.join(", ");
    },

    /**
     * delete blog by id
     * @param id
     * @returns void
     */
    deleteBlog(itemId) {
      axiosClient
        .delete(`/${itemId}`)
        .then((res) => {
          this.$nuxt.refresh();
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>