<template>
  <b-container fluid>
    <AppHeader />
    <b-container fluid>
      <b-row class="p-0 bg-gray">
        <AppMenu class="bg-gray" />
        <b-col lg=10 class="p-0 m-0">
          <b-container fluid class="my-2">
            <Nuxt></Nuxt>
          </b-container>
        </b-col>
      </b-row>
      <AppFooter />
    </b-container>
  </b-container>
</template>
