<template>
  <BlogList :blogs="blogs" />
</template>

<script>
import axiosClient from "../../axiosClient.js";

export default {
  data() {
    return {
      blogs: {},
    };
  },
  created() {
    this.getAllBlogs()
  },
  methods: {
    /**
     * call api to get all blogs
     * @returns void
     */
    async getAllBlogs() {
      await axiosClient
        .get("/")
        .then((res) => {
          this.blogs = res.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>