<template>
  <BlogCreateEdit
    :blogs="blogs"
    @insert="insertItem"
    :isInsert="checkParamId()"
  >
    <h4>New Blog</h4>
  </BlogCreateEdit>
</template>

<script>
import axiosClient from "../../axiosClient.js";

export default {
  data() {
    return {
      blogs: {
        title: "",
        description: "",
        content: "",
        category: "",
        is_published: null,
        date_public: "",
        position: [],
      },
    };
  },
  methods: {
    /**
     * get param id on url
     * @returns mixed
     */
    checkParamId() {
      const id = this.$route.params.id;
      if (id) return false;
      return true;
    },

    /**
     * call api to insert new blog
     * @returns void
     */
     async insertItem() {
        await axiosClient
          .post("/", this.blogs)
          .then((res) => {
            this.$router.push('/blog')
          })
          .catch((error) => {
            console.log(error);
          });
    },
  },
};
</script>
